/* custom classes */
.logo {
    max-width: 100px;
}

.profilePagePost {
    width: 256px;
    height: 256px;
    object-fit: cover;
    padding: 1%!important;
}
.postPreview {
    position: relative;
    text-align: center;
    color: white;
}

.profilePagePostHover {
    filter: blur(4px) brightness(.3);
    transition: .25s;
    overflow: hidden;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.btn-icon {
    font-size: 1.5rem;
    padding-top: .2rem;
    font-weight: bold;
}
.fa-heart-o:hover {
    color: red!important;
}
.fa-heart {
    color: red!important;
}

.addComment:focus-visible {
    outline: none;
    box-shadow: none;
}

.avatarIcon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}

.timestamp-comment {
    display: block;
    font-size: 0.7rem;
    color: #757575;
}

/* utility classes */

.w-35 {
    width: 35%;
}

.w-20-vw {
    width: 20vw;
}

.w-256-px {
    width: 256px;
}

.h-256-px {
    height: 256px;
}

.h-20-vw {
    height: 20vw;
}

.h-5 {
    height: 5%;
}

.h-15-rem {
    height: 15rem;
}

.max-w-1-half-vw {
    max-width: 1.5vw;
}

.max-w-1-half-rem {
    max-width: 1.5rem;
}
.max-w-100 {
    max-width: 100%;
}
.max-w-6 {
    max-width: 6%;
}

.max-w-7 {
    max-width: 7%;
}

.max-w-10-vw {
    max-width: 10vw;
}

.min-w-100 {
    min-width: 100%;
}
.outline-none {
    outline: none;
}

.bg-none {
    background: none;
}

.font-size-1-6 {
    font-size: 1.6rem!important;
}

.pt-half {
    padding-top: 0.5rem;
}

.font-size-1-half {
    font-size: 1.5rem;
}

.font-size-1-rem {
    font-size: 1rem;
}

.m-5-auto-auto {
    margin: 5% auto auto;
}

.ml-12-half {
    margin-left: 12.5%;
}

.mt-10 {
    margin-top: 10%;
}
.mt-5-rem {
    margin-top: 5rem;
}

.py-half-rem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.object-fit-cover {
    object-fit: cover;
}

.resize-none {
    resize: none;
}
.text-black {
    color: black;
}
.h-centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.v-centered {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.translate-50-50 {
    transform: translate(-50%, -50%)!important;

}

.border-top-gray {
    border-top: 1px solid #757575;
}