/* custom classes */
.logo {
    max-width: 100px;
}

.profilePagePost {
    width: 256px!important;
    height: 256px!important;
    object-fit: cover;
    padding: 1% !important;
}

.postPreview {
    position: relative;
    text-align: center;
    color: white;
}
.profilePageFigure {
    display: inline-flex;
    justify-content: stretch;
}

.profilePagePostHover {
    filter: blur(4px) brightness(.3);
    transition: .25s;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.btn-icon {
    font-size: 1.5rem;
    padding-top: .2rem;
    font-weight: bold;
}

.fa-heart-o:hover {
    color: red !important;
}

.fa-heart {
    color: red !important;
}

.addComment:focus-visible {
    outline: none;
    box-shadow: none;
}

.avatarIcon {
    width: 1.5rem !important;
    height: 1.5rem !important;
    object-fit: cover;
}

.timestamp-post {
    font-size: 0.8rem;
    color: #757575;
}

.timestamp-comment {
    display: block;
    font-size: 0.7rem;
    color: #757575;
}
.posts-container {
    justify-content: center;
}
@media only screen and (max-width: 992px) {
    .navbar-nav {
        width: 100%;
        flex-direction: inherit!important;
        justify-content: flex-end;
    }
    .navbar-nav li {
        padding: 8px;
    }
    .post-content {
        flex-direction: column;
    }
    #postImage {
        width: 90vw!important;
        padding-bottom: .5rem!important;
    }
    .post-card {
        width: 90vw!important;
        margin: auto!important;
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }
    .comment-section {
        width: 100%!important;
    }
}

@media only screen and (max-width: 767px) {
    #uploadedImage {
        width: 75vw;
        height: 75vw;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .row>* {
        justify-content: center;
    }
    .postPreview img {
        max-width: 30vw;
        max-height: 30vw;
    }
    .avatar-img {
        min-width: 25vw;
        min-height: 25vw;
    }
    .profile-info {
        justify-content: space-between;
        width: 100vw;
    }
    #followButton {
        margin-right: 8px;
    }
}

.btn-radio {
    color: black;
    background: #e0e0e0 !important;
    border: 1px solid #969696 !important;
    border-radius: 1px;
    padding: .25rem 1rem;
}
#radio1 :checked {
    color: #ec0707;
    background: #b1b1b1 !important;
    border: 1px solid #696969 !important;
    border-radius: 1px;
    padding: .25rem 1rem;
}
/* utility classes */

.w-10-rem {
    width: 10rem;
}
.w-35 {
    width: 35%;
}
@media only screen and (max-width: 992px) {
    .w-35 {
        width: 90%!important;
    }
    .w-75 {
        width: 100%!important;
    }
    .ml-12-half {
        margin-left: 0!important;
    }
}


.w-20-vw {
    width: 20vw;
}

.w-10-vw {
    width: 10vw;
}

.w-65 {
    width: 65%;
}

.h-10-vw {
    height: 10vw;
}

.w-256-px {
    width: 256px;
}

.h-256-px {
    height: 256px;
}

.h-10-rem {
    height: 10rem;
}

.h-20-vw {
    height: 20vw;
}

.h-5 {
    height: 5%;
}

.h-15-rem {
    height: 15rem;
}

.h-35 {
    height: 35px;
}

.max-h-600-px {
    max-height: 600px;
}

.max-w-1-half-vw {
    max-width: 1.5vw;
}

.max-w-1-half-rem {
    max-width: 1.5rem;
}

.max-w-100 {
    max-width: 100%;
}

.max-w-6 {
    max-width: 6%;
}

.max-w-7 {
    max-width: 7%;
}

.max-w-10-vw {
    max-width: 10vw;
}

.min-w-100 {
    min-width: 100%;
}

.outline-none {
    outline: none;
}

.bg-none {
    background: none;
}

.font-size-1-6 {
    font-size: 1.6rem !important;
}

.pt-half {
    padding-top: 0.5rem;
}

.font-size-1-half {
    font-size: 1.5rem;
}

.font-size-1-rem {
    font-size: 1rem;
}

.m-5-auto-auto {
    margin: 5% auto auto;
}

.ml-12-half {
    margin-left: 12.5%;
}

.mt-10 {
    margin-top: 10%;
}

.mt-5-rem {
    margin-top: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.pr-0 {
    padding-right: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

.py-half-rem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.object-fit-cover {
    object-fit: cover;
}

.resize-none {
    resize: none;
}

.text-black {
    color: black;
}

.h-centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.v-centered {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.translate-50-50 {
    transform: translate(-50%, -50%) !important;

}

.border-top-gray {
    border-top: 1px solid #757575;
}

.border-bottom-gray {
    border-bottom: 1px solid #757575;
}

.overflow-x-disabled {
    overflow-x: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.bottom-40 {
    bottom: 40px;
}

.right-12 {
    right: 12px;
}

.top-5-half {
    top: 5.5px;
}